$orange1: #E88C27;
$orange2: #D57936;
$orange3: #DB601C;
$orange4: #C46219;
$orange5: #B54E03;
$white: #ffffff;
$light-grey: #8E8E8E;
$dark-grey: #333333;
$red: #D42E30;
$yellow:#F2BF16;
$header-height:50px;

